
 <div id="showPlan" class=" bg-blue-200 h-fit w-3/4 mx-auto mt-10">
    <div class="grid grid-col-3">
        <div id="banner" class="col-start-1">
                <img src="<%= plan.banner_image %>" alt="banner" class="">
        </div>
        <div class="col-start-2 col-end-3">
            <div class=" h-1/2 bg-pink-300 w-full uppercase text-[32px]">title: <%= plan.name %></div>
            <div class=" h-1/2 bg-pink-400 w-full uppercase text-[22px]">description: <%= plan.description %></div>
        </div>
        <div class=" p-10 h-fit bg-pink-500 content-wrap uppercase text-[24px] col-start-1 col-end-3 ">content: <%= plan.content %></div>
    </div>

</div>