<div id="page" class="bg-gray-700 w-screen h-screen p-10">
  <div class="grid grid-col-3 grid-row-2 gap-x-5 w-fit mx-auto">
    <div id="accountForm" class=" rounded-3xl bg-gray-300   col-start-1 col-end-3 row-span-2 max-h-xl">
      <form action="/users" method="post" class="p-16 flex flex-col flex-no-wrap font-bold uppercase">
        <!-- <input type="image"> -->
        <label for="firstName">First Name </label>
        <input type="text" id="firstName" name="fName" class="rounded-xl w-[500px] h-[40px] hover:ring text-center  focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 my-5" required>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lName" class="rounded-xl w-[500px] h-[40px] hover:ring text-center  focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 my-5" required>
        <label for="email">Email </label>
        <input type="email" id="email" name="email" class="rounded-xl w-[500px] h-[40px] hover:ring text-center  focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 my-5" required>
        <label for="password">Password </label>
        <input type="password" id="password" name="password" class="rounded-xl w-[500px] h-[40px] hover:ring text-center  focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 mt-5" required>
        <button type="submit" class="btn-primary mt-10 w-1/2 mx-auto h-[45px]">Create Account</button>
      </form>
    </div>
    <div id="testamonials" class="bg-green-200 p-10 rounded-3xl mb-5 max-w-sm col-start-3 col-end-3 row-start-1 row-end-1 max-h-lg">
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dignissimos quibusdam corporis laboriosam voluptatum sunt fugit, laborum velit dolor, voluptas suscipit. Natus cum reiciendis, fugit aperiam pariatur unde totam nisi.</h1>
    </div>
    <div id="instructions" class="bg-pink-100 p-10 rounded-3xl max-w-sm col-start-3 col-end-3 row-start-2 row-end-2 max-h-lg">
      <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi quia velit labore accusantium distinctio ratione reprehenderit necessitatibus, eveniet, nobis, rerum nihil itaque dolores! Quos ad iusto, delectus commodi rem distinctio!</h1>
    </div>
  </div>
  
</div>