 <div id="content-wrapper" class=" py-[60px] ">
   <div class="grid grid-col-3 grid-row-2 gap-x-5 w-fit mx-auto ">
      <div id="accountForm" class=" rounded-3xl bg-gray-300   col-start-1 col-end-3 row-span-2 max-h-xl">
        <form action="/users" method="post" class="p-16 flex flex-col flex-no-wrap font-bold uppercase">
          <label for="firstName">First Name </label>
          <input type="text" id="firstName" name="fName" class="rounded-xl w-[500px] h-[40px] hover:ring text-center  focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 my-5" required>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lName" class="rounded-xl w-[500px] h-[40px] hover:ring text-center  focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 my-5" required>
          <label for="email">Email </label>
          <input type="email" id="email" name="email" class="rounded-xl w-[500px] h-[40px] hover:ring text-center  focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 my-5" required>
          <label for="password">Password </label>
          <input type="password" id="password" name="password" class="rounded-xl w-[500px] h-[40px] hover:ring text-center  focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 mt-5" required>
          <input type="text" id="profile" name="profile" value="https://i.kym-cdn.com/entries/icons/original/000/013/564/doge.jpg" hidden>
          <button type="submit" class="btn-primary mt-10 w-1/2 mx-auto h-[45px]">Create Account</button>
        </form>
      </div>
      <div id="testamonials" class="max-w-sm col-start-3 col-end-3 row-start-1 row-end-1 max-h-lg uppercase font-bold text-center text-[25px] text-white">
        <div class="bg-lime-500 p-4 rounded-tr-2xl rounded-b-2xl">
          <h1>No keyboards? <br> Ian Dabinett</h1>
        </div>
        <div class="bg-lime-600 my-4 p-4 rounded-tl-2xl rounded-b-2xl ">
          <h1>No dark mode? <br> Brandon Wu</h1>

        </div>
        <div class="bg-lime-500 p-4 rounded-t-2xl rounded-br-2xl">
          <h1>It's ok, but its free! <br> Lucy Johnson</h1>

        </div>
      </div>
      <div id="instructions" class="bg-white p-4 max-w-sm col-start-3 col-end-3 row-start-2 row-end-2 max-h-lg rounded-t-2xl rounded-bl-2xl">
        <h1 class="uppercase text-[25px] font-bold mt-2 text-center">Welcome to <span class="lowercase text-[30px]">p<span class="uppercase text-lime-500">L</span>an</span><br>Create an account and get started making <span class="lowercase text-[30px]">p<span class="uppercase text-lime-500">L</span>ans</span> today!</h1>
      </div>
    </div>
  
 </div>
