<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your new pLan</title>
    <!-- <link rel="stylesheet" href="assets/css/input.css"> -->
    <link href="assets/css/output.css" rel="stylesheet">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body>
    <nav class="bg-gray-800">
        <div class="mx-auto w-fit text-white font-bold ">
            <h1 class="inline text-[72px] ">p<span class="text-yellow-200">L</span>an</h1>
            <div id="nav" class="inline-block text-[32px] uppercase">
                <div class="item-container h-[30px] mb-[80px] w-100 mx-5">
                  <a href="" class="mr-5">log In</a>
                  <a href="" class="mr-5">Log Out</a>
                  <a href="" class="mr-5">create pLan</a>
                  <a href="" class="mr-5">add photos</a>
                  <a href="/users" class="text-red-700">INSIDE</a>
              </div>
            </div>
          </div>
    </nav>
    <%- body %>
    <footer class="bg-gray-800 h-[60px] text-center text-[45px]">
        <h1 class="mb-[60px] bg-gray-800 text-white">Copyright Sebastian Manion ©</h1>
    </footer>
</body>
</html>
