<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your new pLan</title>
    <link href="/../assets/css/output.css" rel="stylesheet">
</head>
<body>
    <div id="base" class="min-h-screen max-w-screen bg-gray-700 relative">
        <div id="content-wrap" class="pb-[40px]">
            <nav class="bg-gray-800">
                <div class="mx-auto w-fit text-white font-bold ">
                    <h1 class="inline text-[72px] ">p<span class="text-yellow-200">L</span>an</h1>
                    <div id="nav" class="inline-block text-[32px] uppercase">
                        <div class="item-container h-[30px] mx-5">
                          <a href="/users/login" class="mr-5">log In</a>
                          <a href="/users/logout" class="mr-5">Log Out</a>
                          <a href="" class="mr-5">create pLan</a>
                          <a href="" class="mr-5">add photos</a>
                          <a href="/users" class="text-red-700">INSIDE</a>
                          <a href="/../" class="text-red-700">OUTSIDE</a>
                      </div>
                    </div>
                  </div>
            </nav>
            <%- body %>  
            <footer class="bg-gray-800 h-[40px] text-center text-[25px]  absolute bottom-0 w-full">
                <h1 class="bg-gray-800 text-white align-middle ">Sebastian Manion ©</h1>
            </footer>
        </div>
        
    </div>
</body>
</html>
