<div>Welcome to your pLans USER</div>
<div id="cPlan">
    <a href="">Create Plan</a>
</div>
<div id="plan">
    <div id="imageBanner">imga</div>
    <div id="planContent">plan content</div>
</div>
<div id="userInfo">
 Name: Email: etc
</div>