
<div id="pageStructure" class="px-[120px] py-[40px] w-screen h-screen grid grid-col-6">
    <div id="planSection" class="bg-pink-200 min-h-full col-start-1 col-end-1">
        <div class="bg-red-100 h-[300px] w-full" ></div>
    </div>
    <div id="showPlan" class=" bg-blue-200 min-h-full col-start-2 col-end-6">

    </div>

</div>