
<div class="grid grid-col-4 grid-row-7 text-center">
    <div id="cPlan" class="p-10 bg-red-300 h-[100px] mt-[100px]">
        <a href="" class="font-bold">CREATE NEW <span class="">pLan</span></a>
    </div>
    <div id="plan" class="col-start-2 col-span-2 mt-[50px]">
        <div id="imageBanner" class="p-10 bg-green-300 h-[200px]">imga</div>
        <div id="planContent" class="p-10 bg-gray-300 min-h-[300px] ">plan content</div>
    </div>
    <div id="userInfo" class="col-start-4 p-10 bg-red-300 h-[100px] mt-[100px]">
     Name: Email: etc
    </div>

</div>