

<div class="grid grid-col-3 text-center px-[120px] mx-auto">
    <input type="number" hidden value="<% user.userId %> ">

    <div id="cPlan" class="p-10 grid grid-row-6 h-fit w-[400px]">
        
        <div class=" row-start-2 bg-red-300 ">
            <a href="/plans" class="font-bold ">CREATE NEW <span class="">pLan</span></a>
        </div>
        <div id="pLans" class="row-start-3 row-end-6 bg-blue-300 min-h-[500px]">
          
        </div>
    </div>

    <div id="plan" class="col-start-2 col-end-3 grid-row-2 mx-auto p-10">
        <div id="imageBanner" class=" bg-green-300 h-[200px] row-start-1">imga</div>
        <div id="planContent" class=" bg-gray-300 min-h-[400px] rounded-b-xl row-start-2">
            <div class="max-w-6xl mx-auto p-10">
                plan content
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae aspernatur labore minima. Fugit animi culpa minima itaque eveniet repellat dignissimos voluptatum sed quod, molestiae quisquam obcaecati aspernatur aperiam iusto dolores! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quia molestias nesciunt ducimus. A dolores, porro suscipit ratione, mollitia perspiciatis animi, ab aut expedita enim nisi nulla harum sequi odio.

            </div>
        </div>
    </div>

    
    

</div>