

<div class="flex justify-center my-16">
  <div id="accountForm" class=" rounded-3xl bg-gray-300 w-[650px] max-h-xl">
    <div class="mx-auto w-3/4 mt-5 font-bold text-[22px] uppercase">
      <% if(message) { %>
        <p><%= message %></p>
      <% } %>
    </div>
    
      <form action="/users/login" method="post" class="p-16 flex flex-col flex-no-wrap font-bold uppercase">
        <label for="email">Email </label>
        <input type="email" id="email" name="email" class="rounded-xl w-[500px] h-[40px] hover:ring text-center  focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 my-5" required>
        <label for="password">Password </label>
        <input type="password" id="password" name="password" class="rounded-xl w-[500px] h-[40px] hover:ring text-center  focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 mt-5" required>
        <input type="text" id="profile" name="profile" value="https://i.kym-cdn.com/entries/icons/original/000/013/564/doge.jpg" hidden>
        <button type="submit" class="btn-primary mt-10 w-1/2 mx-auto h-[45px] uppercase">Log in</button>
      </form>
    </div>
</div>